@using Microsoft.AspNetCore.Identity;
@model WebApp.Models.Konu
@inject SignInManager<Uye> SignInManager

@{
    ViewData["Title"] = "Detay";
}

<h1>Detay</h1>



<section class="layout_padding about_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="row">
                        <div class="col-md-7 p-relative r-left">
                            <div class="full back_blog text_align_center padding_right_left_15">
                                <img class="resim" src="~/KapakResimleri/@Model.KapakResmi" width="500px" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="full heading_s1">
                                <h3>@Model.KonuAdi</h3>
                                <p>@Model.Yazi</p>
                                <p>Yazar : @Model.Yazar.YazarAdi</p>
                                <p>Eklenme Tarihi : @Model.EklendigiTarih</p>
                                <br />
                                <lu>Kategori</lu>
                                <ul>
                                    @foreach (Konu_Kategori kat in ViewBag.kategoriler)
                                    {

                                        <li>@kat.Kategori.KategoriAdi</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<h4>Yorumlar</h4>

@*Yorum Ekleme*@
<div>
@if (SignInManager.IsSignedIn(User))
{
    <form asp-action = "YorumEkle" asp-controller = "Uye" asp-area="UyePanel" >
        <textarea name = "mesaj" cols = "80" rows = "3" ></textarea>
            <input type="hidden" name="konuID" value="@Model.KonuID" />
       <input type = "submit" value = "Yorum Gönder" />
    </form>
 }
 </div>
 <table>
    @foreach (var yorum in (ICollection<Yorum>)ViewBag.yorumlar)
    {
        <tr>
            <td><b>@yorum.Uye.Ad @yorum.Uye.Soyad</b></td>
            <td>@yorum.Mesaj</td>
            <td>@yorum.YorumTarih</td>

        </tr>
    }
</table>

<br /><br />

<div>

    <a asp-action="Index">Back to List</a>
</div>
